body {
    margin: 0;
    padding: 0;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    place-items: center;
    max-width: 550px;
    height: 250px;
    margin: 5rem auto 0;
    padding: 1.5rem;
    border: 2px solid #ff64a8;
    border-radius: 10px;
}

.preloader--1 {
    stroke: #ff64a8;
    stroke-width: 2px;
    stroke-linecap: round;
    stroke-dasharray: 28px 46px 28px 46px;
    animation: stroke 2s ease-in-out infinite;
}

@keyframes stroke {
    50% {
        stroke-width: 6px;
    }
    100% {
        stroke-dashoffset: -150px;
    }
}