:root {
    --offset: 184px;
    --time: 2s;
}

body {
    margin: 0;
    padding: 0;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    place-items: center;
    max-width: 550px;
    height: 250px;
    margin: 5rem auto 0;
    padding: 1.5rem;
    border: 2px solid #ff64a8;
    border-radius: 10px;
}

.preloader--1 {
    stroke: #ff64a8;
    stroke-width: 6px;
    stroke-linecap: round;
    stroke-dasharray: var(--offset);
    stroke-dashoffset: 0;
}